# Configuración de n8n
N8N_USER=admin
N8N_PASSWORD=admin123

# URL del webhook (cambiar si usas un dominio o túnel)
WEBHOOK_URL=http://localhost:5678/

# WhatsApp Business API (Meta)
# Obtener desde: https://developers.facebook.com/apps/your-app-id/whatsapp-business/wa-dev-console/
WA_API_KEY=EAALfFZAYSb7sBP4iWopkDfxZB7z9T4JhbYZBqVTGiJkfthApuHWAZAoAoy75QEg816ZCZBZAOiCPjzJcaaVbhZBG4LNe0giSKRsZCHarDg7topCOpuhRjUQRkbbhjLNFLMNtFsr8RgRP75sQGSfEzWydKq9NxZC9JH4w3bRFKRrLt6j1AsiSTYJCyfp15ILlM6Y9m8dQZDZD
WA_PHONE_NUMBER_ID=848478885021265

# Strapi Backend
STRAPI_URL=http://host.docker.internal:1337
STRAPI_TOKEN=7853e2cdbbee30cf852855174eb9e7714cee7af46db90dcfc5cac9e4ae3b815f73f3fa93809a511329bcb2e61b36f3cb595f4d960f34ba9c707a3cabee8fb5cf171d4d90ca2b789db261bfac703e5d6001fba1cfc23c3e80bf26d550a5385de9564513cee4e6f4c38582ab6968aa3e1a46135e3476f514f6aa63b89b4c7fdb11

